KEY_ENTER          5C 28
KEY_UP             58 103
KEY_RIGHT          5B 106
KEY_DOWN           59 108
KEY_LEFT           5A 105
KEY_F5             6D 63
KEY_F6             6E 64
KEY_F7             6F 65
KEY_F8             70 66
KEY_0              00 11
KEY_1              01 02
KEY_2              02 03
KEY_3              03 04
KEY_4              04 05
KEY_5              05 06
KEY_6              06 07
KEY_7              07 08
KEY_8              08 09
KEY_9              09 10
KEY_TAB            1F 15

